
<% if admin_signed_in? %> 
 <div> Welcome <%= current_admin.email %> </div> 
  <%= button_to "Logout", destroy_admin_session_path, method: :delete %> 
<% else %>
  <%= button_to "Login", new_admin_session_path %> 
<% end %>
<h1>Hello, this is admin page</h1>

